[Unit]
Description='{{ systemd_name }}'
Requires=network.target
After=network.target

[Service]
Type=simple
PIDFile={{ service_path }}/{{ systemd_name }}.pid
Restart=on-failure
WorkingDirectory={{ service_path }}
ExecStart={{ service_path }}/bin/kafka-server-start.sh {{ service_path }}/config/server.properties
User={{ systemd_user }}
Group={{ systemd_group }}
RestartPreventExitStatus=1 SIGABRT SIGKILL

[Install]
WantedBy=multi-user.target
